name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  backend-and-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # === Backend ===
      - name: Install backend deps
        working-directory: ./
        run: npm ci

      - name: Test backend
        working-directory: ./
        run: npm test

      # === Frontend ===
      - name: Install frontend deps
        working-directory: ./frontend
        run: npm ci

      - name: Build frontend
        working-directory: ./frontend
        run: npm run build
